<h3><%= @post.title %></h3>

<p class="content"><%= @post.content %></p>

<p><em>submitted <%= time_ago_in_words(@post.created_at - 19.years) %> ago.</em></p>

<% if @post.comments.length != 0 %>
<h4>Comments:</h4>
<div id="where-the-comments-live">
<% @post.comments.each do |comment| %>
  <%= render comment %>
<% end %>
</div>
<% end %>

<% if current_user %>
  <div id="show-comment-form"></div>
  <p id="comment-form-link"><%= link_to "comment", new_post_comment_path(@post), remote: true %></p>
<% end %>

<% if is_matt? %>
  <p><%= link_to "edit", edit_post_path(@post) %></p>
  <p><%= link_to "delete", post_path(@post), method: :delete, data: { confirm: "Are you for real?"} %></p>
<% end %>
