<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container">
    <div id="main-background">
      <h1>Matt's Blog in 1998!</h1>
      <span><%= image_tag "computer.png" %></span>
      <nav>
        <ul>
          <li><%= link_to "home", root_path %></li>
          <li><%= link_to "new post", new_post_path %></li>
        </ul>
      </nav>
    <%= yield %>
    </div>
  </body>
</html>
